# Compiled
*.elc

# Packaging
.cask


# Emacs Packages
BUGS
COPYING
LICENSE
README
bin/
etc/
info/
leim/
lisp/
site-lisp/
share/
libexec/
var/
README.W32
.emacs.d/elpa/

.emacs.d/ac-comphist.dat
.emacs.d/history
.emacs.d/.emacs-places
.emacs.d/recentf
/.emacs.d/server/server
